/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-family: 'Zen Kurenaido', sans-serif;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header {
  background-color: slategray;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.main-menu__option {
  list-style-type: none;
  margin: 20px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px;
}

article {
  margin: 8px;
  box-shadow: 0 0 10px black;
}

.route-header {
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 200px;
}

.route-header__icon {
  padding: 20px;
  border-radius: 40px;
  font-size: 40px;
  line-height: 40px;
  background-color: white;
}

.route-header__views {
  color: white;
  text-align: center;
  margin: 0 20px;
}

.route-header__icon, .route-header div {
  margin: 20px;
}

.big-text {
  font-size: 48px;
  margin-top: 0;
  line-height: 38px;
}

.small-text {
  margin-bottom: 0;
}

.route-body {
  margin: 20px;
}

p, .main-menu__option {
  font-size: 24px;
}

.route-body__url {
  word-break: break-all;
  margin: 18px 0;
  background-color: gray;
  padding: 5px;
}

.route-body__grade-label {
  margin-top: 18px;
}

.route-body__grade {
  font-size: 48px;
  line-height: 40px;
}

.route-body__date {
  color: slategray;
}

.route-body__url, .route-body__area-label, .route-body__grade-label, .route-body__date, .small-text {
  font-size: 18px;
}

.account-info:hover~.account-options {
  display: block;
}

.account-options:hover {
  display: block;
}

.account-options {
  display: none;
  position: absolute;
  list-style-type: none;
  background-color: white;
  width: 100%;
}